@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2 {
  font-family: 'Patua One', cursive;
}
